<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="__static__/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="__static__/css/app.css"/>
    <style>
       .oa-contact-cell.mui-table .mui-table-cell {
            padding: 11px 0;
            vertical-align: middle;
        }
        .oa-contact-avatar img {
            border-radius: 50%;
        }

    </style>
</head>
<body>

<form class="mui-input-group">
    <div class="mui-input-row">
        <label>用户名</label>
        <input type="text" id="account" class="mui-input-clear" placeholder="请输入用户名">
    </div>
    <div class="mui-input-row">
        <label>密码</label>
        <input type="password" id="password" class="mui-input-password" placeholder="请输入密码">
    </div>
    <div class="mui-button-row">
        <button onclick='ok()' type="button" class="mui-btn mui-btn-primary" >确认</button>
        <button onclick='cancel()' type="button" class="mui-btn mui-btn-danger" >取消</button>
    </div>
</form>
<script src="__static__/js/mui.min.js"></script>
<script src="__static__/js/mui.enterfocus.js"></script>
<script src="__static__/js/app.js"></script>
<script type="text/javascript" src="__static__/js/jquery-1.8.3.min.js"></script>
<script>
    function ok(){
        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;

        $.ajax({
            url:'/index/Index/registry',
            type:'POST',//GET 或POST
            data:{"account":account,"password":password},
            async:true,//false是否异步
            timeout:5000,    //超时时间
            dataType:"json",    //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
                var jsonObj =  JSON.parse(data);
                if(jsonObj['code'] != 200){
                    alert(jsonObj['msg']);return;
                }
                window.location.href = '/index/Index/login';

            },
            error:function(data){
                alert("登录失败");return;
            }
        });
    }

    function cancel(){

    }

</script>
</body>
</html>