<html>
<head>
<style>
body{
    margin: 0;

}
.content{
  border:5px solid red;
  position: relative;
  height: 398.3px;
  width: 500px;
  
  margin: 0 auto;
}

.image-list{
  width: 1500px;
  position: absolute;
  overflow: hidden;
  left: 0px;

}

.content .image-list img{
    width: 500px;
    float: left;
}


</style>
</head>
<body>
<div class="content">
    <div class="image-list">
        <img src="./1.jpg">
        <img src="./2.jpg" >
        <img src="./3.jpg">
    </div>
</div>

</body>
</html>